@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

$color-0f53fb: #0F53FB;
$color-80868b: #80868B;
$color-0A1A3F: #0A1A3F;
$color-08123B: #08123B;
$color-0D132D: #0D132D;
$color-010A10: #010A10;

/* Font/text values */
$font-family-google-sans: "Google Sans" , sans-serif;
$font-family-stem: "Stem-Medium" , sans-serif;
$font-style-normal: normal;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-size-20: 20px;
$font-size-24: 24px;
$line-height-6: 6px;
$character-spacing-0-2: 0.2px;
$line-spacing-30: 30px;

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header{
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 20px #CDCDCD29;
  opacity: 1;
  height: 10vh;
  width: 100vw;
  .title{
    font: $font-style-normal normal $font-weight-normal 24px/6px $font-family-stem;
    text-align: left;
    letter-spacing: 0.48px;
    color: $color-0A1A3F;
    text-transform: capitalize;
    opacity: 1;
    padding-top: 4vh;
    padding-left: 116px;
  }
}

.form{
  
  .form-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22vh;
    background: $color-08123B 0% 0% no-repeat padding-box;
    .form-bar-text{
      font: $font-style-normal normal $font-weight-bold 30px/20px $font-family-google-sans;
      text-align: center;
      letter-spacing: 0.01px;
      color: #FFFFFF;
    }
  }

  .form-fields{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .row{
      display:flex;
      margin-top:6vh;
      column-gap: 1.2em;
    }
  }
}

.form-input{
  width: 100%;
  input[type="text"],input[type="email"],select{
  height: 50px;
  margin: 0 0 1em;
  padding: 1em;
  border: 1px solid #ccc;
  background: #fff;
  resize: none;
  outline: none;
  border-radius: 3px;
  width: 100%;
  font: $font-style-normal normal bold 15px/24px $font-family-google-sans;
  color: $color-010A10;
  }
  label{
      background-color: #FFFFFF;
      display: block;
      pointer-events: none;
      line-height: 1em;
      margin-top: calc(-3em - 25px);
      margin-bottom: calc((3em - 1em) + 2px);
      
  }
  label:before{
    content: attr(placeholder);
    margin: 0 1em;
    padding: 0 4px;
    font: $font-style-normal normal $font-weight-normal 13px/18px $font-family-google-sans;
    color: $color-0D132D;
    background-image: linear-gradient(to bottom, #fff, #fff);

  }
}

.bid-amount{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  div{
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
  }
  label{
    padding-top: 8px;
    font: $font-style-normal normal bold 40px/30px "Roboto";
  letter-spacing: 0.69px;
  color: #0D2D11;
  margin-left: 70px;
  }
  
  input[type="text"]{
    border: none;
    outline:none;
    margin-left:5px;
    font: $font-style-normal normal bold 40px/30px "Roboto";
  letter-spacing: 0.69px;
  color: #0D2D11;
  padding-right: 0;
  }
}

.error{
  margin-top: 5px;
  color: red;
  font: $font-style-normal normal $font-weight-normal 10px/12px $font-family-google-sans;;
  
}

.next-button{
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  background: $color-0f53fb 0% 0% no-repeat padding-box;
  outline: none;
  border: none;
  font: $font-style-normal normal medium 15px/25px $font-family-google-sans;
letter-spacing: 0px;
color: #FFFFFF;
}